.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    //gap: 5px;
}

.information__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: small;
}

.information__main > span:nth-of-type(1) {
    font-size: 1.2rem;
    font-weight: 900;
}

.information__description {
    font-size: small;
    text-decoration: underline;
}

.information__description:hover {
    color: #D0B08B;
    cursor: pointer;
}